<h1>budgets</h1>

<% @budgets.each do |b| %>
  <p>
    Expense id: <%= b.id %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= b.budget_type %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= b.budget %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= b.budget_date %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= b[:expenses] %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to 'Show Expenses', "/users/#{current_user.id}/budgets/#{b.id}/expenses" %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to 'Edit Budget', "/users/#{current_user.id}/budgets/#{b.id}/edit" %>
  </p>
<% end %>

<%= link_to 'New Budget', new_user_budget_path %>
