<h1>New Monthly Budget</h1>
  <%= form_for @budget, url: {action: "create"} do |f| %>
  <% if @budget.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @budget.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :budget %>
    <%= f.number_field :budget, :class => 'text_field', :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :month %>
    <%= f.number_field :month, :class => 'text_field', in: 1..12, :step => 1 %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.select :year, (Time.zone.now.year - 5)..(Time.zone.now.year + 10) %>
  </div>
  <div class="actions"><%= f.submit "Create" %></div>
  <% end %>
