
<div class="container">
  <div class="jumbotron" id="monthly">
    <div class="container">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Monthly Budgets
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% @current_year_budgets_order.each do |b| %>
          <li><a href=<%= "/budgets/#{b.id}" %>><%= b.budget_date.strftime("%B, %Y") %></a></li>
          <% end %>
        </ul>
      </div>
      <%= render "monthly_progress" %>
      <%= render "new_budget_modal" %>
      <%= render "edit_budget_modal" %>
      <%= render "show_expenses_modal" %>
      <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/budgets/<%= params[:id] %>/delete'">Delete</button>
    </div>
  </div>
  <div class="jumbotron" id="annual">
    <div class="container">
      <%= render "annual_progress" %>
    </div>
  </div>

</div>
