
<div class="container">
  <div class="jumbotron" id="monthly">
    <div class="container">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Monthly Budgets
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% if @current_budget == nil %>
            <li> No budget </li>
            <% else %>
            <% @current_year_budgets.each do |b| %>
            <li><a href=<%= "/budgets/#{b.id}" %>><%= b.budget_date.strftime("%B, %Y") %></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <%= render "monthly_progress" %>
      <%= link_to 'Create new budget', "/budgets/new" %>
      <%= link_to 'Edit Budget', "/budgets/#{@current_budget.id}/edit" %>
      <%= link_to 'Show Expenses', "/budgets/#{@current_budget.id}/expenses" %>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Show Expenses</button>
    <!-- Modal -->
    <div id="myModal" class="modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <%= render "expenses/expenses_display" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
  <div class="jumbotron" id="annual">
    <div class="container">
      <%= render "annual_progress" %>
    </div>
  </div>
</div>


