<h1>Expenses#index</h1>
<div class="container">
  <% @sum = 0 %>
  <% @expenses.each do |e| %>
    <p>
      Expense id: <%= e.id %>
      &nbsp;&nbsp; | &nbsp;&nbsp;
      <%= e.amount %>
      &nbsp;&nbsp; | &nbsp;&nbsp;
      <%= e.expense_category[:expense_category] %>
      &nbsp;&nbsp; | &nbsp;&nbsp;
      <%= link_to 'Edit Expense', "/users/1/budgets/13/expenses/#{e.id}/edit" %>
    </p>
    <% @sum += e.amount %>
  <% end %>
  <p>
    Sum:
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= @sum %>
  </p>
</div>

<%= link_to 'Add Expense', new_user_budget_expense_path %>


