<!DOCTYPE html>
<html>
<head>
  <title>BudgetApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>
        <%= form_tag sessions_path do %>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a href="/users/<%= current_user.id %>">Logged in as: <%= current_user.email %></a></li>
            <li><%= link_to 'Log Out', session_path('dummy'), method: :delete %></li>
          <% else %>
            <li><%= label_tag :email %>:</li>
            <li>
              <div class="field">
                <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
              </div>
            </li>
            <li><%= label_tag :password %>:</li>
            <li>
              <div class="field">
                <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
              </div>
            </li>
            <li><button type="submit" class="btn btn-default form-control" id="login-btn">Login</button></li>
            <li><a href="/users/new"><button type="button" class="btn btn-default" id="signup-btn">Sign Up</button></a></li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<p id="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
